header {
    height: 60px;
    background-color: dimgray;
}

nav {
    display: flex;
    height: 100%;
}

nav .d-flex {
    gap: 15px;  
}

nav a {
    color: white;
    text-decoration: none;
}

header .mobile {
    display: none;
}

header .mobile button {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border: 0;
    align-items: center;
    justify-content: center;
}