@import './global.css';
@import './fonts.css';
@import './flexbox.css';
@import './header.css';
@import './notification.css';

.welcome-container {
    padding-block: 30px;
    background-color: rgb(44, 44, 50);
}

.welcome-container .container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 2fr);
}

.welcome-container .container div:first-child {
    text-align: center;
}

.welcome-container .img-prev{
    width: 100%;
}

.welcome-container h1 {
    color: white;
}

.welcome-container h1 span {
    font-weight: normal;
}

.welcome-container p {
    color: rgba(255,255,255,.6);
}

.welcome-container .download-container {
    background-color: dodgerblue;
    color: white;
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 58px;
}

.welcome-container .download-container h6 {
    margin: 0;
}
.welcome-container .download-container > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid rgb(44, 44, 50);
}
.welcome-container .download-container > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tooltip css */
.tooltip-container {
    position: relative;
    font-size: 14px;
    background-color: rgb(37, 37, 43);
    padding-block: 7px;
    border-radius: 10px;
    margin-top: 15px;
}

.tooltip-container::after {
	content: '';
	background-color: rgb(37, 37, 43);
	width: 15px;
	height: 15px;
	transform: rotate(45deg);
	position: absolute;
	right: 15px;
	top: -7px;
}

.tooltip-container p {
    margin: 0;
}

.tooltip-container a {
    color: dodgerblue;
    text-decoration: none;
}

/* rules css */

.rules-container {
    margin-top: 15px;
    font-size: 12px;
}

.rules-container p {
    margin: 0;
}

.rules-container a {
    color: dodgerblue;
    text-decoration: none;
}

/* features CSS */

.features-container {
    text-align: center;
}

.features-container .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.features-container .container > div {
    padding-block: 30px;
}

.features-container .container > div:hover {
    background-color: rgb(227, 227, 227);
}

.features-container .container > div:first-child:hover i {
    color: firebrick;
}

.features-container .container > div:nth-child(2):hover i {
    color: green;
}

.features-container .container > div:nth-child(3):hover i {
    color: dodgerblue;
}

.features-container .container > div:last-child:hover i {
    color: gold;
}

.features-container i {
    font-size: 65px;
    margin-bottom: 15px;
}

/*  */
section {
    padding-block: 60px;
}

section:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.info-section:nth-child(odd) > div div:first-child {
    order: 2;
}

.info-section:nth-child(odd) > div div:last-child {
    order: 1;
}

.info-section > div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info-section > div div:first-child {
    width: 35%;
}

.info-section img {
    width: 100%;
    display: block;
}


.testimonials-section > div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 15px;
}

.testimonials-section > div .arrow {
    position: absolute;
    font-size: 48px;
    top: 80px;
    cursor: pointer;
}

.testimonials-section > div .arrow.fa-arrow-left {
    left: -50px;
}

.testimonials-section > div .arrow.fa-arrow-right {
    right: -50px;
}

.external-langs h1 {
    text-align: center;
}

.external-langs .d-grid {
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	gap: 15px;
}

.external-langs .external-link {
    display: block;
    color: dodgerblue;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.external-langs .btn {
    display: flex;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}